<footer>
  {{ if (or (.Param "newsletter") (and (.Site.Params.global_newsletter) (not (isset .Params "newsletter")))) }}
    {{ partial "footer/newsletter.html" . }}
  {{ end }}
  <div class="section footer">
    <p class="footer-copyright">
      &copy; {{ now.Format "2006" }} &middot;
      <a href="{{ .Site.BaseURL }}{{ .Lang }}">{{ .Site.Title }}</a>
      {{ with .Site.Params.footer_text | markdownify }}
        <span>&middot; {{ . }}</span>
      {{ end }}
      | <b><a href="mailto:contact@atelier-roulades.fr">contact@atelier-roulades.fr</a></b>
      | <a href="https://fr.tipeee.com/atelier-roulades">{{ i18n "support" .}}</a></p>
    </p>
    {{ if eq .Site.Params.footer_socials true }}
      <div class="footer-socials">
        {{ partial "general/social-links.html" . }}
      </div>
    {{ end }}
  </div>
</footer>
